.btn {
	cursor: pointer;

	&__container {
		margin-top: 3rem;

		@include respond(tab-port-lg) { text-align: center; }
	}

	&--primary {
		border: 2px solid #2D3142;
		background-color: transparent;
		padding: 1.25rem;

		&:link,
		&:visited {
			text-decoration: none;
			color: #2D3142;
		}

		&:hover,
		&:active {
			color: #fff;
			background-color: #2D3142;
		}
	}

	&--special { }
}
