* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after { box-sizing: inherit; }

html { box-sizing: border-box; }

section {
	padding: 8rem 0;

	@include respond(tab-port-lg) { padding: 6rem 0; }

	@include respond(phone-xxl) { padding: 4rem 0; }

}
