body {
	font-size: 1.8rem;
	line-height: 2.25rem;
}

.heading {

	&__container {
		text-align: center;
	}

	&__primary {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 3rem;
	}

	&__secondary {
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	&__tertiary {
		font-weight: 500;

	}

	&__quaternary {
		text-transform: uppercase;
		margin-bottom: 1.25rem;

	}
}
