{{ define "main" }}
	<section class="bildung">
		<div class="content-container">
			<div class="heading__container">
				<h4 class="heading heading__quaternary">mit unseren Partner*innen</h4>
				<h2 class="heading heading__secondary">Lernbegleitung und Coaching</h2>
				<p class="heading__sub-text">
					Die Bildung ist das höchste Gut und findet in jedem Alter statt. Somit
					bieten wir ein Gesamtpaket für alle – denn man darf nie aufhören (auch
					über sich) zu lernen!
				</p>
			</div>
		</div>
	</section>
{{ end }}
