{{ define "main" }}
	<header class="hero">
		<div class="content-container">
			<img src="{{ $.Site.Params.cloudinary_url }}c_scale,q_auto:best,w_250/v1617780304/mana/mana-logo_i1mpsg.png" alt="Mana logo" class="logo">
			<div class="hero__container" id="hero">
				<div class="hero__content">
					<h1 class="heading heading__primary">
						Vielen Dank, dass Sie mit Mana Kontakt aufgenommen haben.
					</h1>
					<p class="hero__text">
						Wir wollten dich nur wissen lassen, dass wir deine Nachricht erhalten
						haben und uns so schnell wie möglich bei dir melden werden.
					</p>
					<div class="btn__container">
						<a href="/" class="btn btn--primary">Bringen sie mich zurück nach Hause</a>
					</div>
				</div>
				{{ partial "svgs/nachricht.html" }}
			</div>
		</div>
	</header>
	{{ partial "partners.html" . }}
{{end}}
