.hero {
	height: 90vh;
	background-color: #FAF0F2;

	@include respond(tab-port-lg) { height: 88vh; }

	@include respond(tab-port-xxs) { height: 86vh; }

	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10rem 0;

		@include respond(notebook) { padding: 5rem 0; }

		@include respond(tab-port-lg) {
			flex-direction: column;
		}

		&--offset {
			padding: 19.5rem 0;

			@include respond(notebook) { padding: 15rem 0; }
		}
	}

	&__content {
		width: 40%;
		text-align: left;

		@include respond(tab-port-lg) {
			width: 80%;
			text-align: justify;
			margin-bottom: 4rem;
		}
	}

	&__svg {
		width: 60rem;
		height: 40rem;

		@include respond(notebook) {
			width: 50rem;
			height: 30rem;
		}

		@include respond(tab-port-lg) {
			width: 55rem;
			height: 35rem;
		}
	}
}
