.hero {
	height: 90vh;
	background-color: #FAF0F2;

	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10rem 0;

		&--offset { padding: 22rem 0; }
	}

	&__content {
		width: 40%;
		text-align: left;
	}
}
