.hero {
	height: 90vh;
	background-color: #FAF0F2;

	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10rem 0;

		@include respond(notebook) { padding: 5rem 0; }

		&--offset {
			padding: 20rem 0;

			@include respond(notebook) { padding: 15rem 0; }
		}
	}

	&__content {
		width: 40%;
		text-align: left;
	}

	&__svg {
		width: 60rem;
		height: 40rem;

		@include respond(notebook) {
			width: 50rem;
			height: 30rem;
		}
	}
}
