.nav {
	width: 70%;
	margin: auto;
	padding: 3rem 0;

	&--sticky {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #fff;
		padding: 3rem 15% 3rem 15%;
		border-bottom: 2px solid #2D3142;
	}

	&__list {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {

		&:link,
		&:visited {
			text-decoration: none;
			color: #000;
			font-weight: 600;
		}
	}
}
