.nav {
	position: absolute;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 15%;


	@include respond(notebook) { padding: 2rem 10%; }

	&--sticky {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #fff;
		padding: 2rem 15%;
		border-bottom: 2px solid #2D3142;

		@include respond(notebook) { padding: 2rem 10%; }

		@include respond(tab-port-xxs) { padding: 2rem 5%; }
	}

	&__list {
		list-style: none;
		display: flex;
		align-items: center;

		@include respond(tab-port-lg) {
			position: fixed;
      left: -100%;
      top: 10rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
			border: 2px solid #2D3142;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		}

		&--active { @include respond(tab-port-lg) { left: 0; } }
	}

	&__item { @include respond(tab-port-lg) { margin: 2.5rem 0; } }

	&__link {
		padding: 2rem;
		transition: background-color 0.2s;

		&:link,
		&:visited {
			text-decoration: none;
			color: #000;
			font-weight: 600;
		}

		&:hover,
		&:active {
			color: #fff;
			background-color: #2D3142;
		}

		&--external { @extend .nav__link; }
	}

	&__hamburger {
		display: none;

		@include respond(tab-port-lg) {
			display: block;
			cursor: pointer;

			&--active .nav__bar:nth-child(2) { opacity: 0; }

			&--active .nav__bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }

			&--active .nav__bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

		}
	}

	&__bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: #101010;
	}
}
