.nav {
	width: 70%;
	margin: auto;
	padding: 2rem 0;

	@include respond(notebook) { width: 80%; }

	&--sticky {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #fff;
		padding: 2rem 15% 2rem 15%;
		border-bottom: 2px solid #2D3142;

		@include respond(notebook) { padding:  2rem 10% 2rem 10%; }
	}

	&__list {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		padding: 2rem;
		transition: background-color 0.2s;

		&:link,
		&:visited {
			text-decoration: none;
			color: #000;
			font-weight: 600;
		}

		&:hover,
		&:active {
			color: #fff;
			background-color: #2D3142;
		}

		&--external { @extend .nav__link; }
	}
}
