.partners {
	height: 10vh;
	background-color: #2D3142;

	@include respond(tab-port-lg) { height: 12vh; }

	@include respond(tab-port-xxs) { height: 14vh; }

	@include respond(phone-xxl) { height: 16vh; }

	@include respond(phone-lg) { height: 18vh; }

	@include respond(phone-med) { height: 20vh; }

	@include respond(phone-med) { height: 22vh; }


	&__container {
		padding: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@include respond(notebook) { padding: 2rem; }

		@include respond(tab-port-lg) { flex-wrap: wrap; }
	}

	&__link { @include respond(tab-port-lg) { padding: 1rem; } }
}
