.platforms {

	&__card {
		border: 2px solid rgba(7, 51, 47, 0.1);
		display: flex;
		justify-content: space-around;
		align-items: center;

		&--reverse {
			@extend .platforms__card;
			flex-direction: row-reverse;
		}

		&:not(:last-child) { margin-bottom: 3rem; }
	}

	&__content {
		background-color: rgba(7, 51, 47, 0.1);
		padding: 4rem;
	}
}
