.platforms {

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include respond(tab-port-lg) { justify-content: center; }
	}

	&__card {
		flex: 0 0 47%;
		display: flex;
		flex-direction: column;

		&:nth-child(-n+2) { margin-bottom: 3rem; }

		@include respond(tab-port-lg) {
			flex: 0 0 75%;

			&:not(:last-child) { margin-bottom: 3rem; }
		}

		@include respond(tab-port-xxs) { flex: 1; }

	}

	&__img {

		&-container {
			border: 2px solid rgba(7, 51, 47, 0.1);
			padding: 2rem;
			display: flex;
			justify-content: center;
		}
	}

	&__svg {
		width: 43.5rem;
		height: 12.5rem;

		@include respond(tab-port-lg) {
			width: 49rem;
			height: 18rem;
		}
	}

	&__content {
		background-color: rgba(7, 51, 47, 0.1);
		padding: 4rem;
	}
}
