.platforms {

	&__card {
		border: 2px solid #2D3142;
		display: flex;
		justify-content: space-around;
		align-items: center;

		&--reverse {
			@extend .platforms__card;
			flex-direction: row-reverse;
		}

		&:not(:last-child) { margin-bottom: 3rem; }
	}

	&__content {
		color: #fff;
		background-color: #2D3142;
		border-left: 2px solid #2D3142;
		padding: 4rem;
	}
}
