<head>
	<meta charset="utf-8">
	<title>Mana | {{if .Page.Title }}{{ .Page.Title}}{{ else }}{{ .Site.Title }}{{ end }}</title>
	{{ $options := (dict "outputStyle" "compressed") }}
	{{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@700;800;900&display=swap" rel="stylesheet">
	{{ $built := resources.Get "js/index.js" }}
	<script type="text/javascript" src="{{ $built.Permalink }}"></script>
</head>
