<header class="hero">
	{{ partial "nav.html" . }}
	<div class="content-container">
		<div class="hero__container" id="hero">
			<div class="hero__content">
				<h1 class="heading heading__primary">
					News von heute für die aufgeweckte Gesellschaft von morgen.
				</h1>
				<p class="hero__text">
					Der Verein Mana ist bestrebt schweizweit als Leuchtturm zu strahlen und
					aufzuzeigen, dass Kinder und Jugendliche durchaus mit den schweren Themen
					des Alltags, mit denen sie sowieso konfrontiert sind, umgehen können.
					Wenn man ihnen einen Zugang bietet.
				</p>
			</div>
			{{ partial "svgs/hero.html" }}
		</div>
	</div>
</header>
