<header class="hero">
	<div class="content-container">
		<div class="hero__container" id="hero">
			<div class="hero__content">
				<h1 class="heading heading__primary">
					News von heute für die aufgeweckte Gesellschaft von morgen.
				</h1>
				<p class="hero__text">
					Kinder, Jugendliche, Erwachsene...alle  können auch mit schwierigen
					Nachrichten und Aktualitäten umgehen. Wenn man einen verständlichen
					Zugang bietet! Der Verein Mana ist bestrebt, einfach Wissen und
					Informationen zu vermitteln, das Lernen zu fördern und die individuelle
					Meinungsbildung zu unterstützen. Wissen, Bildung, Zeitung - Mana packt
					alles unter einen Hut, verständlich für Alt und Jung.
				</p>
			</div>
			{{ partial "svgs/hero.html" }}
		</div>
	</div>
</header>
