<section class="kontakt" id="kontaktiere-uns">
	<div class="content-container">
		<div class="heading__container">
			<h4 class="heading heading__quaternary">Haben Sie etwas Fragen?</h4>
			<h2 class="heading heading__secondary">Kontaktiere Uns</h2>
			<p class="heading__sub-text">
				Bitte teilt uns mit falls ihr Fragen, Ideen, oder Anliegen habt.
			</p>
		</div>
		<form name="kontakt" method="post" netlify-honeypot="bot-field" data-netlify="true" class="kontakt__form">
			<div class="kontakt__fields-container">
				<div class="kontakt__short-fields">
					<div class="kontakt__item">
						<label for="anrede" class="kontakt__label">Anrede</label>
						<input type="text" name="anrede" placeholder="Anrede" id="anrede" class="kontakt__field">
					</div>
					<div class="kontakt__item">
						<label for="name" class="kontakt__label">Name*</label>
						<input type="text" name="name" placeholder="Name*" id="name" class="kontakt__field" required>
					</div>
					<div class="kontakt__item">
						<label for="email" class="kontakt__label">E-Mail*</label>
						<input type="email" name="email" placeholder="E-Mail*" id="email" class="kontakt__field" required>
					</div>
				</div>
				<div class="kontakt__long-field">
					<div class="kontakt__item">
						<label class="kontakt__label">Ihr Anliegen*</label>
						<textarea name="anliegen" placeholder="Ihr Anliegen*" rows="10" class="kontakt__field" required></textarea>
					</div>
				</div>
			</div>
			<div class="kontakt__checkbox">
				<input type="checkbox" name="datenschutz" id="datenschutz" required>
				<label for="datenschutz">
					Ich bin einverstanden, dass meine Personendaten im Kontext dieses
					Formulars verarbeitet werden. Mehr Informationen finden Sie unter
					<a href="https://www.chinderzytig.ch/datenschutz/" target="_blank" class="kontakt__datenschutz">
						chinderzytig.ch/datenschutz
					</a>.
				</label>
			</div>
			<div class="kontakt__hidden">
				<input name="bot-field" aria-hidden="true"	>
				<label>Robot spam field</label>
			</div>
			<button type="submit" value="Senden" class="btn btn--primary kontakt__submit">Senden</button>
		</form>
	</div>
</section>
