<nav class="nav" id="nav">
	<img src="{{ $.Site.Params.cloudinary_url }}c_scale,q_auto:best,w_250/v1617780304/mana/mana-logo_i1mpsg.png" alt="Mana logo" class="nav__logo">
	<ul class="nav__list">
		<li class="nav__item"><a href="{{ $.Site.BaseURL }}#unsere-projekte" class="nav__link">Unsere Projekte</a></li>
		<li class="nav__item"><a href="{{ $.Site.BaseURL }}#ueber-uns" class="nav__link">Über Uns</a></li>
		<li class="nav__item"><a href="{{ $.Site.BaseURL }}#kontaktiere-uns" class="nav__link">Kontaktiere Uns</a></li>
		<li class="nav__item"><a href="https://www.chinderzytig.ch/" target="_blank" class="nav__link--external">zur Chinderzytig</a></li>
	</ul>
	<div class="nav__hamburger">
		<span class="nav__bar"></span>
		<span class="nav__bar"></span>
		<span class="nav__bar"></span>
	</div>
</nav>
