<nav class="nav">
	<ul class="nav__list">
		<li class="nav__item"><img src="{{ $.Site.Params.cloudinary_url }}c_scale,q_auto:best,w_250/v1617780304/mana/mana-logo_i1mpsg.png" alt="Mana logo" class="nav__logo"></li>
		<li class="nav__item"><a href="#" class="nav__link">Placeholder</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Placeholder</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Placeholder</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Placeholder</a></li>
	</ul>
</nav>
