<section class="platforms" id="unsere-projekte">
	<div class="content-container">
		<div class="heading__container">
			<h4 class="heading heading__quaternary">Vom Chinderzytig zum Mana</h4>
			<h2 class="heading heading__secondary">Wissen, Bildung, Zeitung</h2>
			<p class="heading__sub-text">
				Wir verändern und optimieren uns: Um den nächsten Schritt zu schaffen,
				wechseln wir den Namen, bauen wir das erweiterte Angebot auf und passen
				im Lauf dieses Jahres unsere Websites an.
			</p>
		</div>
		<div class="platforms__container">
			{{ range .Site.Data.platforms.project }}
				<div class="platforms__card">
					<div class="platforms__img">
						{{ partial .svg . }}
					</div>
					<div class="platforms__content">
						<h3 class="heading heading__tertiary">{{ .title }}</h3>
						<p class="platforms__text">{{ .text }}</p>
					</div>
				</div>
			{{ end }}
		</div>
	</div>
</section>
