<section class="platforms">
	<div class="content-container">
		<div class="heading__container">
			<h4 class="heading heading__quaternary">Vom Chinderzytig zum Mana</h4>
			<h2 class="heading heading__secondary">Wissen, Bildung, Zeitung</h2>
			<p class="heading__sub-text">
				Wir verändern und optimieren uns: Um den nächsten Schritt zu schaffen,
				wechseln wir den Namen, bauen wir das erweiterte Angebot auf und passen
				im Lauf dieses Jahres unsere Websites an.
			</p>
		</div>
		<div class="platforms__container">
			<div class="platforms__card">
				<div class="platforms__img">
					{{ partial "svgs/chinder-card.html" . }}
				</div>
				<div class="platforms__content">
					<h3 class="heading heading__tertiary">Der Ursprung und das Jetzt: chinderzytig.ch</h3>
					<p class="platforms__text">
						Aktuell agieren wir auf der Plattform www.chinderzytig.ch und
						veröffentlichen drei Artikel und zwei Arbeitsmaterialien wöchentlich.
						Die Ziele entsprechen der Weiterentwicklung.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
