<section class="team">
	<div class="content-container">
		<div class="heading__container">
			<h4 class="heading heading__quaternary">Über Uns</h4>
			<h2 class="heading heading__secondary">Der Mana Verein</h2>
			<p class="heading__sub-text">
				Aus dem Verein und der Vision der Chinder- und Jugendzytig hat sich der
				Dachverein Mana entwickelt, in welchen die Chinderzytig integriert wurde.
				Die Schaffung dieses Dachvereins ermöglicht es die grossen Ziele noch
				präziser und professioneler zu realisieren.
			</p>
		</div>
	</div>
	<div class="team__container">
		<div class="team__info--left">
			<div class="team__content--left">
				<h3 class="heading heading__tertiary">Wer wir sind</h3>
				{{ range .Site.Data.team.persons }}
				<span class="team__area">{{ .area }}</span>
				{{ range .members}}
				<span class="team__member">{{ .member }}</span>
				{{ end }}
				{{ end }}
			</div>
		</div>
		<div class="team__info--right">
			<div class="team__content--right">
				<h3 class="heading heading__tertiary">Meinung, Geist, Verstand, Quelle</h3>
				<p class="team__verein">
					Der Verein setzt sich für die freie Meinungsbildung, Chancengerechtigkeit
					und das Erlernen des Umgangs mit digitalen Medien ein. «Mana» ist ein
					Ausdruck der Sprache Sanskrit und hat die Bedeutungen Meinung, Geist und
					Verstand. Auf Spanisch bedeutet «Mana» überdies Quelle. Das ist es, was
					unser Gesamtkonzept ausmacht: Wissen und Bildung ist das grösste,
					wichtigste Gut, das die Menschheit hat und wir wollen nicht weniger,
					als allen Menschen jeden Alters Zugang zu einfach verständlicher
					Wissensgewinnung ermöglichen. Durch Tagesaktualitäten (Mana-Zeitung),
					durch pädagogisch-didaktische Vertiefungen (Mana- Bildung) sowie durch
					eine breite Ansammlung an verschiedener Information (Mana-Wissen).
				</p>
			</div>
		</div>
	</div>
</section>
