{{ define "main" }}
	<header class="hero">
		{{ partial "nav.html" . }}
		<div class="content-container">
			<div class="hero__container" id="hero">
				<div class="hero__content">
					<h1 class="heading heading__primary">
						404 Seite nicht gefunden.
					</h1>
					<p class="hero__text">
						Leider konnten wir die Seite, nach der suchst, nicht finden.
					</p>
					<div class="btn__container">
						<a href="/" class="btn btn--primary">Bringen sie mich zurück nach Hause</a>
					</div>
				</div>
				{{ partial "svgs/404.html" }}
			</div>
		</div>
	</header>
	{{ partial "partners.html" . }}
{{end}}
