.hero {
	height: 90vh;
	background-color: #FAF0F2;

	&__content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10rem 0;
	}

	&__text {
		width: 40%;
		text-align: justify;
	}
}

.partners {
	height: 10vh;
	background-color: #2D3142;

	&__container {
		padding: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
